header{
	width: 100%;
	background: #D8E3AB no-repeat 5% 50%;
	height: 70px;
    position: fixed;
}
form {
    font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
    border: 1px solid black;/*Цвет, размер и тип границы */
    -webkit-border-radius: 20px;/*Скругляем углы */
    color: #000000;/*Цвет label */
    width: 25%; /*Ширина формы */
    margin-right: auto; /*Положение формы */
    margin-left: auto; /*Положение формы */
    text-align: center; /*Центровка текста*/
}
.container {
    padding: 30px; /*Размер внутренних отступов контейнера*/
}
.name{
    font-size: 36px;
	padding-top: 10px;
	text-align: center;
}
nav {
  float: left;
}
nav ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
ul {
  font-family: "Chivo Mono", monospace;
  display: flex;
  gap:72px;
}
ul li{
    list-style:none;
}
ul li a{
    font-size: 26px;
    font-width: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    transition: 0.5s ease;
}
ul:hover li a{
    color:#30edf4;
}
ul:hover li a:not(:hover){
    color: white;
}
main{
    position: relative;
    top: 150px;
}
.body{
    display: inline-flex;
    position: relative;
    font-size: 36px;/*размер шрифта*/
    left: 150px;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-left: 50px;/* отступ от края для текста*/
	padding-right: 50px;
	text-align: center;
	text-decoration: none;
}
.t{
    width: 170px;
    height: 200px;
    border:1px solid;
    margin: 5% 0;
    background: #25537b;
}
.text_center{
    color: #ffffff;
    text-align: center;
}
.text{
    width: 70%;
    height: 50px;
    border:1px solid;
    margin:auto;
    background: #25537b;
    color: #ffffff;
}