header{
  width: 100%;
  background: #c98fc0 no-repeat 5% 50%;
  height: 100px;
}
form {
    font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
    border: 1px solid black;/*Цвет, размер и тип границы */
    -webkit-border-radius: 20px;/*Скругляем углы */
    color: #000000;/*Цвет label */
    width: 25%; /*Ширина формы */
    margin-right: auto; /*Положение формы */
    margin-left: auto; /*Положение формы */
    text-align: center; /*Центровка текста*/
}
.container {
    padding: 30px; /*Размер внутренних отступов контейнера*/
}
.name{
    font-size: 36px;
  text-align: center;
}
nav {
  float: left;
}
nav ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
ul {
  font-family: "Chivo Mono", monospace;
  display: flex;
  gap:72px;
  flex-direction: row;
  align-items: center;
}
ul li{
    list-style:none;
    padding: 15px;
}
ul li a{
    font-size: 26px;
    font-width: 900;
    margin-top: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 50%;
    transition: 0.5s ease;
}
ul:hover li a{
    color:#30edf4;
}
ul:hover li a:not(:hover){
    color: white;
}
main{
    position: relative;
}
.body{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    font-size: 36px;/*размер шрифта*/
    left: 150px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;/* отступ от края для текста*/
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
}
.t{
    width: 170px;
    height: 200px;
    border:1px solid;
    margin: 5% 7%;/*второй процент это расположение спава и лево*/
    background: #25537b;
}
.text_center{
    color: #ffffff;
    text-align: center;
}
.text{
    width: 70%;
    height: 50px;
    border:1px solid;
    margin:auto;
    background: #25537b;
    color: #ffffff;
}
figure {
    width: 27%; /* Ширина */
    float: left; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 3.5%; /* Отступ слева */
    background: #f0f0f0; /* Цвет фона */
    border-radius: 5px; /* Радиус скругления */
    padding: 1%; /* Поля */
   }
   figure:first-child {
    margin-left: 0; /* Убираем отступ для первого элемента */
   }