<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Таблица стилей светлой темы -->
  <link href="{{ url_for('static', filename= 'css/light-theme.css') }}" rel="stylesheet" id="theme-link">
</head>
<body>
  <button class="btn-toggle">Переключатель тёмной темы</button>
  <h1>Привет! Это просто заголовок</h1>
  <p>Я просто скучный текст, существующий исключительно ради данной демонстрации.</p>
  <p>А я ещё один текст, похожий на тот что выше, потому что два лучше, чем один.</p>
  <a href="#">Я ссылка, не нажимайте на меня!</a>
  <script src="static/js/bal.js"></script>
</body>
</html>