<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/tren.css') }}">
</head>
<body>
    <header>
            <ul>
                <a href="/" class="name"><img src="static/img/лого1.jpg"></a>
                <li><a href="/tr"> Тренеровки</a></li>
                <li><a href="/yp"> Упражнения</a></li>
                <li><a href="/awards"> награды</a></li>
                <li><a href="/otc"> отчет</a></li>
                <li><a href="/exit">{{ m }}</a></li>
            </ul>
    </header>
<h2>надо сюда картиночки</h2>
    <figure>
   <img src="static/img/медальки/первая медаль чб.jpg" width="100%">
  </figure>
<figure>
   <img src="static/img/медальки/5 трен чб.jpg" width="100%">
  </figure>
<figure>
   <img src="static/img/медальки/10 тр чб.jpg" width="100%">
  </figure>
</body>
</html>