<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
            <ul>
                <a href="/" class="name">Лого</a>
                <li><a href=""> Упражнение</a></li>
                <li><a href=""> тренировка</a></li>
                <li><a href="/awards"> награды</a></li>
                <li><a href=""> отчет</a></li>
                <li><a href="/exit">{{ m }}</a></li>
            </ul>
    </header>
    <main>
        <form method="POST">
        <div>
            <h2>если хотите увидеть награды зарегистрируйтесь или войдите</h2>
            <a href="/aut_awards" type="submit">Войти</a>
        </div>
        </form>
    </main>
</body>
</html>