<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/log_tich.css') }}">
</head>
<body>
    <header>
            <ul>
                <a href="/" class="name"><img src="static/img/лого1.jpg"></a>
                <li><a href="/tr"> Тренеровки</a></li>
                <li><a href="/yp"> Упражнения</a></li>
                <li><a href="/awards"> награды</a></li>
                <li><a href="/otc"> отчет</a></li>
                <li><a href="/exit">{{ m }}</a></li>
            </ul>
    </header>
    <main>
<h2 style="text-align: center">Занимайтесть и собирите колекцию медалек</h2>
<script>
    img = "{{sts}}";
    img = img.split(',');
    for (let i = 0; i < img.length-1; ++i) {
     let div = document.createElement("div");
     let image = document.createElement("img");
     image.src = img[i];
     div.appendChild(image);
     document.body.appendChild(div);
}
</script>
</main>
</body>
</html>