<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
            <ul>
                <a href="/" class="name"><img src="static/img/лого1.jpg"></a>
                <li><a href="/tr"> Тренеровки</a></li>
                <li><a href="/check_yp"> Упражнения</a></li>
                <li><a href="/awards"> награды</a></li>
                <li><a href="/otc"> отчет</a></li>
                <li><a href="/exit">{{ m }}</a></li>
            </ul>
    </header>
<main>
    <h2>хотите продолжить тренироку</h2>
    <a href="/ck_yp_del">Нет</a>
    <a href="/yp">Да</a>
</main>
</body>
</html>