<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Index </title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    </head>
    <body>
    <header>
            <ul>
                <a href="/" class="name"><img src="static/img/лого1.jpg"></a>
                <li><a href="/tr"> Тренеровки</a></li>
                <li><a href="/yp"> Упражнения</a></li>
                <li><a href="/awards"> награды</a></li>
                <li><a href="/otc"> отчет</a></li>
                <li><a href="/exit">{{ name }}</a></li>
            </ul>
    </header>
    <main>
        <form method="POST">
          <div class="container">
            <label for="Login"><b>Логин</b></label>
            <input type="text" placeholder="" name="Login" required>
            <label for="Password"><b>Пароль</b></label>
            <input type="password" placeholder="" name="Password" required>
            <button type="submit">Войти</button>
               <div class="container">
                <span class="reg"> <a href="/registration">Регистрация</a></span>
              </div>
          </div>
        </form>
    </main>
    </body>
</html>