<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/2.css') }}">
     <style>
	body {
		background: #000 url(/static/img/wtite.png); /* Фоновый цвет и фоновый рисунок поправить размер картинки и саму картинку*/
		color: #000; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
	}
   </style>
</head>
<body>
<div>
    <div style="float: right; margin-top: 40px;margin-right: 20px;background: #f0f;padding: 10px;">
        <a id="tr_otc" href="/tr_och">Закончить тренировку</a>
    </div>
    <div style="text-align: center;
    margin-left: 250px;
    margin-top: 50px;">
        <h2>на какой картинке {{ n }}</h2>
    </div>
    <div class="otvet">
        <div class="container">
            <input type="checkbox" id="check"/>
            <label class="btn" for="check"><img class="o" src="static/img/1.jpg" id="btnLeft1" /></label>
        </div>
        <div class="container">
            <input type="checkbox" id="check2"/>
            <label class="btn" for="check2"><img class="o" src="static/img/1.jpg" id="btnLeft2" /></label>
        </div>

    </div>
    <div class="otvet">
                 <div class="container">
            <input type="checkbox" id="check3"/>
            <label class="btn" for="check3"><img class="o" src="static/img/1.jpg" id="btnLeft3" /></label>
        </div>
        <div class="container">
            <input type="checkbox" id="check4"/>
            <label class="btn" for="check4"><img class="o" src="static/img/1.jpg" id="btnLeft4" /></label>
        </div>
    </div>
    <div id="r"></div>
    <div id="okno">
            <div id="res"></div>
              <a href="/tr" class="close">Закрыть окно</a>
    </div>
            <p id="myHeading" type="text" name="test" style="color:#fff"></p>
            <a id="b" href="#okno" onclick="sendData()">проверить</a>
</div>
    <script>
            function sendData() {
                document.getElementById("r").innerHTML = '';
                var mes = '{{ x[0] }}';
                var o = ''
                if (document.getElementById('check').checked){
                    if ('{{ x[0] }}'-2 == '{{ n }}'){
                        o = 'правильно';
                    }
                }
                if (document.getElementById('check2').checked){
                    if ('{{ x[1] }}'-2 == '{{ n }}'){
                        o = 'правильно';
                    }
                }
                if (document.getElementById('check3').checked){
                    if ('{{ x[2] }}'-2 == '{{ n }}'){
                        o = 'правильно';
                    }
                }
                 if (document.getElementById('check4').checked){
                    if ('{{ x[3] }}'-2 == '{{ n }}'){
                        o = 'правильно';
                    }
                }
                if (o == ''){
                    document.getElementById("res").innerHTML = "не правильно";
                    document.getElementById("myHeading").innerHTML = "не правильно";
                }
                else{
                    document.getElementById("res").innerHTML = o;
                document.getElementById("myHeading").innerHTML = o;
                }

                // Получаем значение из тега <p>
                const value = document.getElementById('myHeading').innerText;

                // Создаем объект XMLHttpRequest
                const xhr = new XMLHttpRequest();

                // Устанавливаем метод POST и URL для отправки данных
                xhr.open('POST', '/get-text-tr', true);

                // Устанавливаем заголовок Content-Type для отправки данных в формате JSON
                xhr.setRequestHeader('Content-Type', 'application/json');

                // Отправляем данные на сервер в формате JSON
                xhr.send(JSON.stringify({ data: value }));
            }
    </script>


</body>
</html>