<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/1.css') }}">
 <style>
	body {
		background: #000 url(/static/img/wtite.png); /* Фоновый цвет и фоновый рисунок поправить размер картинки и саму картинку*/
		color: #000; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
	}
   </style>
</head>
<body>
    <header>
        <div class="otvet">
            <div style="float: right; margin-top: 40px;margin-right: 20px;background: #f0f;padding: 10px;">
            <a id="vid" href="/tr_och">Закончить тренировку</a>
            </div>
            <div style="float: right; margin-top:140px;">
                <h4>Баллы</h4>
            <img class="n1" src="{{n1}}"><img class="n1" src="{{n2}}">
            </div>
            <img src={{p}} id="btnLeft1" width="100%" />
            <div class="r">
                <div class="rr">
                <div class="t">
                    <input name="nameRadio" value={{nr[3]}} type="checkbox" id="btnControl5"/>
                    <label class="b" for="btnControl5">{{nr[3]}}</label>
                </div>
                <div class="t">
                    <input name="nameRadio" value={{nr[0]}} type="checkbox" id="btnControl6"/>
                    <label class="b" for="btnControl6">{{nr[0]}}</label>
                </div>
                </div>
                <div class="rr">
                <div class="t">
                    <input name="nameRadio" value={{nr[1]}} type="checkbox" id="btnControl3"/>
                    <label class="b" for="btnControl3">{{nr[1]}}</label>
                </div>
                <div class="t">
                    <input name="nameRadio" value={{nr[2]}} type="checkbox" id="btnControl4"/>
                    <label class="b" for="btnControl4">{{nr[2]}}</label>
                </div>
                </div>
            </div>
            <script>
                var n = "{{ n }}";
            </script>
            <script src="static/js/app.js"></script>
            <div id="r"></div>
            <div id="okno">
                <div id="res"></div>
              <a href="/tr" class="close">Закрыть окно</a>
            </div>
            <p id="myHeading" type="text" name="test" style="color:#fff"></p>
            <a id="b" href="#okno" onclick="sendData()">проверить</a>
        </div>
    </header>
</body>
</html>