<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <main>
            <h5>короче нужно сделать так что бы сдесь была выборка между несколькоми картинками и надо найти лишную
            подается 2 картинки и нужно вывести только правильный ответ</h5>
             <input type="checkbox" id="check"/>
             <label class="btn" for="check"><img class="o" src="static/img/black.jpg" id="btnLeft1" /></label>
             <input type="checkbox" id="check2"/>
             <label class="btn" for="check"><img class="o" src="static/img/grey.jpg" id="btnLeft2" /></label>
            <input type="checkbox" id="check3"/>
             <label class="btn" for="check"><img class="o" src="static/img/grey.jpg" id="btnLeft3" /></label>
            <input type="checkbox" id="check4"/>
             <label class="btn" for="check"><img class="o" src="static/img/grey.jpg" id="btnLeft4" /></label>
        </main>
    </body>
</html>