<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/regis.css') }}">
</head>
<body>
 <header>
            <ul>
                <a href="/" class="name"><img src="static/img/лого1.jpg"></a>
                <li><a href="/tr"> Тренеровки</a></li>
                <li><a href="/check_yp"> Упражнения</a></li>
                <li><a href="/awards"> награды</a></li>
                <li><a href="/otc"> отчет</a></li>
                <li><a href="/exit">{{ m }}</a></li>
            </ul>
    </header>
<form method="POST">
  <div class="container">
    <label for="Login"><b>Логин</b></label>
    <input type="text" placeholder="" name="Login" required>

    <label for="Password"><b>Пароль</b></label>
    <input type="password" placeholder="" name="Password" required>

      <label for="Roll"><b>Роль</b></label>
          <input type="radio" name="uniqueGroup" id="opt1" class="fake-checkbox"/>
          <label for="opt1">Учитель</label>

          <input type="radio" name="uniqueGroup" id="opt2" class="fake-checkbox"/>
          <label for="opt2">Ученик</label>

    <button type="submit">Зарегистрироваться</button>
  </div>
</form>
</body>
</html>