<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/t_start.css') }}">
</head>
<body>
 <header>
            <ul>
                <a href="/" class="name"><img src="static/img/лого1.jpg"></a>
                <li><a href="/tr"> Тренеровки</a></li>
                <li><a href="/yp"> Упражнения</a></li>
                <li><a href="/awards"> награды</a></li>
                <li><a href="/otc"> отчет</a></li>
                <li><a href="/exit">{{ name }}</a></li>
            </ul>
    </header>
 <div style="text-align: center;">
    <h2>Перед тем как начать тренировку необходимо авторизоваться</h2>
    <a href="/authorization" >Пойти авторизацию</a>
 <a href="/">Вернуться на основную страницу</a>
    </div>
</body>
</html>